body{
    box-sizing: border-box;
    background-color: #F3F5FC;
    font-family: 'Inter', sans-serif;
}

.ingresoDatos{
    width: 65%;
    padding: 4rem ;
    height: 81vh;
}

.main{
    display: flex;
    
}

.devolucionDatos{
    width: 35%;
}

textarea{
    resize: none;
    background-color: #F3F5FC;
    border: #F3F5FC;
    padding: 3rem 10rem 5rem 6rem;
    width: 80%;
    font-size: 1.8rem;
    color:#0A3871;

}
textarea:focus{
    outline: none;
    
}
textarea::placeholder{
    color:#0A3871
}

.botones{
    display: block;
    padding: 0 0 0 10rem;
}
.botones h3{
    opacity: 0.6;
}

.encriptar, .desencriptar, .copiar{
    width: 17rem;
    height: 3rem;
    border-radius: 10px;
    margin:1rem;
}
.encriptar{
    background-color:#0A3871 ;
    color: #FFFFFF;
    border:2px solid #0A3871;
}
.desencriptar{
    color: #0A3871;
    background-color: #F3F5FC;
    border: 2px solid #0A3871;
}
.copiar{
    color: #0A3871;
    background-color: white;
    border: 2px solid #0A3871;
    display: block;
    margin: auto;
     
}
.textoEncriptado{
    font-size: 1.8rem;
    color:#495057;
    padding:2.5rem 0.5rem 0 2rem;
    height: 650px;
    width: 450px;
}
.centrar{
    display: flex;
    align-items:center;
    justify-content: center;
    
}

.devolucionDatos{
    margin: 4rem;
    background-color: white;
    border-radius: 25px;
}
.fotodiamante{
    display: flex;
    width: 50%;
    margin: 8rem auto;    
}
.devolucionDatos h2{
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    padding: 0 6rem 1rem 6rem;
    color: #343A40;

}
.devolucionDatos h3{
    text-align: center;
    font-size: 1.2rem;
    color: #495057;
    padding: 1rem 6rem 0 6rem;
}
footer{
    width: 100%;    
}

footer h2{
    text-align: center;
    padding-bottom: 2rem;
    color: #0A3871;
    opacity: 0.5;
}

@media only screen and (max-width:768px){

    body{
        width: 100vw;
        display: flex;
        flex-direction: column; 
        flex-wrap: wrap;
    }

    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    textarea{
        padding: 3rem 2rem 0rem 1rem;
        width: 100%;
        font-size: 1.5rem;
        color:#0A3871;
    
    }
    .botones{
        display: inline;
        padding: 0;
    }
    .ingresoDatos{
        padding: 0 ;
        height: 71vh;
        width: 90%;
    }

    .devolucionDatos{
        margin: 2rem;
        width: 80%;
        padding-bottom: 1rem;
    }
    .formulario{
        text-align: center;
    }
    .botones h3{
        text-align: left;
        padding-left: 3.5rem;
    }
}

@media only screen and (max-width:375px){
    main{
        width: 100vw;
        height: auto;
    }
    .ingresoDatos img{
        padding: 1rem;
    }
    textarea{
        padding: 0;
        width: 78%;
        font-size: 1.2rem;
        height: 280px ;
    }
    .encriptar, .desencriptar, .copiar{
        width: 80%;
        height: 3rem;
        display: block;
        text-align: center;
    }
    .formulario{
        width: 100vw;
    }
    .botones h3{
        padding-left: 2rem;
        
    }
    .devolucionDatos{
        margin: 0;
        width: 80%;
        padding-bottom: 1rem;
    }
    .textoEncriptado{
        font-size: 1.8rem;
        color:#495057;
        padding:1rem 1rem 1rem 1rem;
        width: 80%;
    }
    .ingresoDatos{
        padding: 0 ;
        height: 75vh;
        width: 90%;
    }
    footer h2{
        text-align: center;
        padding:1.5rem 4rem;
       
    }
    .devolucionDatos h2, .devolucionDatos h3{
        padding: 1rem 1rem 0 1rem;
    }
    
    .fotodiamante{
        display: flex;
        width: 50%;
        margin: 2rem auto;    
    }
}


